@model IndexViewModel
@{
    ViewData["Title"] = "帐号管理";
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<div>    
    <dl class="dl-horizontal">
        <dt>密 码：</dt>
        <dd>
            [
                <a asp-controller="Manage" asp-action="ChangePassword">修 改</a>
            ]
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>邮 箱：</dt>
        <dd>
            [
                <a asp-controller="Manage" asp-action="ChangeMail">修 改</a>
            ]
        </dd>
    </dl>
</div>
