<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="omco" value="http://120.26.214.254:8081/service/local/nuget/NuGet-Central/" />
  </activePackageSource>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="omco" value="http://120.26.214.254:8081/service/local/nuget/NuGet-Central/" />
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>
